* {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    background: linear-gradient(to bottom, #CAF0F8 2172px, #343233 30%);
}
header{
    background-color: #00B4D8;
}
aside{
    background-color: #90E0EF;
}
section{
    background-color: #CAF0F8;
}

@media screen and (min-width:992px) {
    .amplio{
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    aside{
        background-color: #00B4D8;
    }
}
.nav a{
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 0.625rem;
    transition: 0.2s;
    margin: 1.2rem;
}
.nav a:hover{
    border-top: 3px solid white;
    padding-top: 1.188rem;
    padding-bottom: 1.188rem;
    opacity: 0.8;
}
@media screen and (max-width:512px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
}
.c1{
    color: #0077B6;
}
.c2{
    color: green;
}
.c3{
    color: black;
}
.letradesa{
    font-family: 'Tilt Warp', cursive;
}
.parrafo{
    color: #cb8f20fc;
}
.btnc{
    border-radius: 2rem;
}
.btn-info:hover{
    color: #000;
    background-color: #ff0000;
    border-color: #25cff2;
}

/* Main */
.pocodemi {
    display: flex;
    background: linear-gradient(to bottom left, var(--naranja-claro) 3%, #fff 3%);
    min-height: 45rem;
    width: 65%;
    color: var(--azul-oscuro-verdoso);
    flex-direction: column;
    margin-left: 35%;
    margin-bottom: 8rem;
    padding: 2rem;
    border-radius: 20px 0 0 20px;
    box-shadow: -200px 0 0 0px #00B4D8, -230px 0 0 0px black;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    padding-left: 15rem;
    text-align: justify;
    background: url(../img/fondo-desarrollador-web.png), url(../img/fondo-sobre-mi.png), url(../img/fondo-esquina-sobre-mi.png);
      background-color: rgba(0, 0, 0, 0);
      background-position-x: 0%, 0%, 0%;
      background-position-y: 0%, 0%, 0%;
      background-repeat: repeat, repeat, repeat;
      background-size: auto, auto, auto;
    background-position: 14rem 60%, 12rem 2rem, top right;
    background-size: 70% 41%, 30% 90%, 3.438rem 3.438rem;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom: 1px solid #00B4D8;
}
.pocodemi h1 {
    color: #00B4D8;
    line-height: 1.7;
    font-weight: 900;
    text-transform: none;
    width: 65%;
    border-bottom: 1px solid #00B4D8;
    background: url(../img/fondo-servicios.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.pocodemi h2 {
    padding: 0;
    font-size: 1.3rem;
    font-weight: normal;
    border-bottom: 1px solid green;
    margin-bottom: 1rem;
    width: 46%;
}
.titulo{
    font-weight: bold;
    font-size: 2.2rem;
    color: rgb(0, 0, 141);
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: left;
    background: url(../img/fondo-servicios.png);
    background-repeat: no-repeat;
    background-position: left 1rem;
}
@media screen and (max-width:1024px){
    .pocodemi{
    width: 70%;
    margin-left: 30%;
    padding: 0 4rem 1rem 4rem;
    box-shadow: -50px 0 0 0px #00B4D8, -80px 0 0 0px black;
    background-position: 3.5em 65%, 2.5rem 2rem, top right;
    background-size: 85% 50%, 35% 90%, 3.438rem 3.438rem;
    }
}
@media screen and (max-width:768px){
        .pocodemi{
        width: 88%;
        margin-left: 12%;
        padding: 0 2rem 1rem 2rem;
        box-shadow: -30px 0 0 0px #00B4D8, -80px 0 0 0px black;
        background-position: 1.5em 60%, 1.5rem 2rem, top right;
        background-size: 92% 45%, 39% 90%, 3.438rem 3.438rem;
    }
}

/* Conocimientos y habilidades */
.habilidades {
    display: flex;
    min-height: 45rem;
    background: url(../img/fondo-esquina-habilidades.png),url(../img/fondo-habilidades.png);
    background-repeat: no-repeat;
    background-color: #343233;
    background-position: top right, 95% center;
    flex-direction: column;
    padding: 2rem 4rem 1rem;
    padding-left: 4rem;
    padding-left: 5%;
}
article.contenido-habilidades {
    width: 60%;
}
.habilidades h1 {
    line-height: 2.5rem;
    color: white;
    font-size: 1.5rem;
    background: url(../img/fondo-h1-habilidades.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 2rem;
}
.habilidades h2, h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: 500;
    font-size: 1.2em;
    color: #00B4D8;
}
.habilidades i{
    color: #00B4D8;
    font-size: 1.375rem;
    background-color: #4F4B4B;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 0.25rem;
}
.habilidades ul{
    margin: 1rem 0 2rem;
}
.habilidades ul li{
    margin-left: 3rem;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}
p.curriculum{
    background-color: #00B4D8;
    padding: 0.8rem;
    margin-left: 0.2rem;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    width: 12rem;
}
p.curriculum a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidades p.curriculum a i.descargar{
    background: none;
    color: white;
}
@media screen and (max-width:1024px){
    .habilidades{
    background-position: top right, 95% 100%;
    background-size: 55px 55px, 45% auto;
    }
}
@media screen and (max-width:480px){
    .habilidades{
    background-position: top right, 95% 95%;
    }
}

/*Portafolio*/
.portafolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-height: auto;
    padding: 2rem 4rem 7rem;
    margin: 1rem auto 1rem;
    background: url(../img/fondo-esquina-portafolio.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #9FD4CA;
    border-bottom-right-radius: 20px;
    padding-bottom: 6rem;
}
.portafolio h1{
    line-height: 1.7;
    font-weight: 900;
    text-transform: none;
    background: url(../img/fondo-h-portafolio.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 2.25rem 0 1.85rem;
    width: 36%;
    color: #4F4B4B;
}
@media screen and (max-width:768px){
    .portafolio article{
    flex-direction: column;
    align-items: flex-start;
    }
}
.transicion img{
    transition-property: transform;
    transition-duration: 300ms;
}
.transicion img:hover{
    transform: scale(1.2);
}

/*Flecha arriba*/
#back2Top{
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    right: 0.938rem;
    bottom: 120px;
    border-radius: 5px;
    background: #F5F5EB;
    color: #22303A;
    width: 35px;
    line-height: 35px;
    opacity: 0.65;
}

/* Footer */
footer {
    background: #22303A;
    min-height: 8.5rem;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    flex-wrap: wrap;
}
@media screen and (max-width:512px){
    footer{
        flex-direction: column;
    }
}
.datos-contacto{
    display: flex;
    flex-basis: 20%;
    flex: 1 0 calc(50% - 1rem);
    align-items: center;
    justify-content: center;
    margin-bottom: 0.725rem
}
article.datos-contacto ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
article.datos-contacto ul li{
    color: #9FD4CA;
}
article.datos-contacto ul li i{
    padding: 0.25rem 0.1rem;
    font-size: 1.2rem;
    width: 1.8rem;
    justify-content: center;
    display: inline-flex;
    display: -ms-flexbox;
    border-radius: 5px;
    background: #9FD4CA;
    margin: 0.2rem 0.5rem;
    color: #354355;
}
article.datos-contacto ul li i.arroba{
    background: none;
    color: #9FD4CA;
    font-size: 0.875rem;
    margin: 0;
    width: 1rem;
}
aside.datos-contacto{
    background-color: #22303A;
    justify-content: space-around;
}
aside.datos-contacto ul{
    display: flex;
    justify-content: center;
    flex-basis: 70%;
}
aside.datos-contacto ul i{
    padding: 0.625rem;
    font-size: 1.625rem;
    color: #9FD4CA;
}
footer p.creditos{
    display: flex;
    align-items: center;
    flex-basis: 65%;
    justify-content: center;
    color: #8f9aa7;
    font-size: 0.8313rem;
    opacity: 0.6;
    color: #9FD4CA;
    flex-basis: 100%;
    border-radius: 10px;
}
section.datos-personales{
    background-color: #22303A;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: block
}
p.creditos.copyright{
    font-size: 0.75rem;
    opacity: 0.4;
}
span.creditos{
    color: #9FD4CA;
    font-family: "Open Sans";
    margin: 0 0.5rem;
}